{% extends "header.html" %} {% block body %}
    <div class="login-wrapper" style="max-width: 100%">
        <form class="login" id="distanceFrorm" method="POST">
            {% if informations %}

                <h3>Gare de dépare {{ informations.start }}</h3><br>
                <h3>Gare arrivée {{ informations.end }}</h3><br>
                <h4>Distance: {{ informations.distance }}KM</h4>
                <h4>Prix: {{ informations.price }}€</h4><br>
                <h3>Heure de départs possible:</h3>
                <ul class="list">
                    {% for departure in informations.departures %}
                        <li>{{ departure }}</li><br>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if gare_list %}

                <label class="select">
                    Selectioner votre gare de départ
                    <select name="station_start">
                        {% for station in gare_list["start"] %}
                            <option value="{{ station["label"] }}">{{ station["label"] }}</option>
                        {% endfor %}
                    </select>
                </label><br>

                <label class="select">
                    Selectioner votre gare d'arrivée
                    <select name="station_end">
                        {% for station in gare_list["end"] %}
                            <option value="{{ station["label"] }}">{{ station["label"] }}</option>
                        {% endfor %}
                    </select>
                </label>
                <div>
                    Date
                </div>
                <label>
                    <input type="datetime-local" name="departure_time" value="{{ request.form.departure_time }}">
                </label>
                <button type="submit" class="btn btn-primary" name="found_houres"
                        value="{{ request.form.found_houres }}">Search
                </button>
            {% else %}
                <label class="title">
                    Entrer la gare de départ est la gare d'arrivée.
                    Puis L'heure de votre départ
                </label>
                <div class="login-group">
                    <div>
                        Start point
                    </div>
                    <input type="text" name="start" placeholder="Start station"
                           value="{{ request.form.start }}">
                    <div>
                        Destination
                    </div>
                    <input type="text" name="destination" placeholder="Destination"
                           value="{{ request.form.destination }}">
                    <button type="submit" class="btn btn-primary" name="select_station"
                            value="{{ request.form.select_station }}">Next
                    </button>
                </div>

            {% endif %}
        </form>
    </div>
{% endblock %}