{% extends "header.html" %} {% block body %}
    <div class="login-wrapper" style="max-width: 100%">
        <form class="login" id="distanceFrorm" method="POST">
            <label class="title">
                {% if informations %}

                    <h1>{{ informations.start }} TO {{ informations.end }}</h1>
                    <h1>{{ informations.distance }}KM for {{ informations.price }}$</h1>
                    <ol class="list">
                        {% for departure in informations.departures %}
                            <li>{{ departure }}</li><br>
                        {% endfor %}
                    </ol>


                {% endif %}
                <h3 class="welcome">Get GPS distance</h3>
                Using SOAP WebService
            </label>
            <div class="login-group">
                <div>
                    Start point
                </div>
                <input type="text" name="start" placeholder="Start station"
                       value="{{ request.form.start }}">
                <div>
                    Destination
                </div>
                <input type="text" name="destination" placeholder="Destination"
                       value="{{ request.form.destination }}">
                <div>
                    Date
                </div>
                <label>
                    <input type="datetime-local" name="departure_time" value="{{ request.form.departure_time }}">
                </label>
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
{% endblock %}  